*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
	background-color: #F5F7FF;
}

/* Variables */
:root{
    --primary-gradient: linear-gradient(to right, #4e4376, #2b5876);
    --mango-gradient : linear-gradient(to right, #ffa751, #ffe259);
    /* --text-color: #F7F9F9; */
    --Montserrat: "Montserrat", cursive;
    --Lobster: "Lobster", cursive;
    --primary-shadow: 3px 4px 7px rgba(27, 27, 27, 0.534);
    --border-color: rgba(0,0,0,0.329);
    
    /*======azadi mahotsav color==============*/
	--nism_blue: #1A237E;
	--orange: #f7941d;
	--green: #00a44e;
}

.nseMsg{
	text-align: ;
	width: 100%;
	color: #007bff;
	font-weight: 500;
	letter-spacing: 0.6px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
	animation: nismMsg 4s ease infinite;
}

@keyframes nismMsg{
	0%{
	    opacity: 1;
	}
	25%{
	   opacity : 1;
	   color: #000;
	}
	50%{
	   opacity : 1;
	   color: red;
	}
	75%{
	    opacity: 1;
	    color: green;
	}
	100%{
	    opacity: 1;
	    color: blue;
	}
}

.program_id_label{
	width: 100%;
	height: 20px;
	position: relative;
	margin-top: -12px;
}
.program_id_label p{
	position: absolute;
	right: 0;
	top: 0;
	/*transform: translateY(-50%);*/
	padding: 4px 20px;
	font-weight: 500;
	background-color:#dc3545 !important;
	border-radius: 8px;
	/*border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;*/
	color: #fff !important;
	font-size: 14px;
}
.roleStatus{
	padding-top: 2rem;
	padding-left: 2rem !important;
}
.roleStatus input{
	margin-left: 1px !important;
}

.table_inner_form form{
	border: none;
	box-shadow: none;
	margin:0px !important;
}
/*============header===============*/


/* ===================navbar================ */

nav.navbar{
	height: 10vh;
	padding: 0px 0px !important;
	padding-right: 10px !important;
	background-color:#fff !important;
	border-bottom: 1px solid #e2e9e6;
}


nav .container-fluid{
	padding: 0px ;
}
nav .navbar-brand{
	display: flex;
	align-items:center;
	width:220px;
	margin: 0px 0px !important;
	/*background-color:red;*/
	padding:2px 0px;
}

nav .navbar-brand img{
	width: 100%;
}

nav .header_brand{
	display: flex;
	align-items:center;
}




.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link{
    color:rgba(255, 255, 255,.8);
    
}

/*================top right css=================*/
.top_right_content{
	background-color:#fff;
	margin-left:auto;
    display:flex;
    align-items:center;
    justify-content: flex-end;
}

.top_right_content .small_device{
	display: none;
}

.top_right_content .large_device{
	display: flex;
}



.top_right_content span{
    margin:0px 15px;
    /*color:rgba(66, 73, 73,.2);*/
    /*color:rgba(255 ,255 ,255 ,.5);*/
    color:#EBEDEF;
}



.top_right_content .user_name{
	/*background-color:red;*/
	/*display:flex;
	align-items:center !important;*/
}

.top_right_content .user_name p{
	margin-bottom: 0px;
	color: rgba( 0,0,0,0.8) !important;
}

.top_right_content .user_name p span{
	color: rgb( 0,0,0) !important;
	font-weight: bold;
}



.top_right_content  a{
	color:#000 !important;
}
.top_right_content .logout_icon a i{
    text-decoration:none;
    color:#000 !important;
    font-size:16px;
}


@media only screen and (max-width:980px){
	.top_right_content{
	   display: block;
	   background-color:#212121;
	   color:#fff !important;
	   margin: 0px !important;
	   padding: 20px 10px;
	   padding-bottom: 40px;
	}
	.top_right_content .small_device{
	   display: block;
	   text-align: center;
	   width: 100%;
	   margin: 10px 5px;
	   padding: 10px 2px;
	   border-bottom: 1px solid #ccc;
	   color:#fff !important;
	}
	.top_right_content .small_device .user_name p{
	    color:#fff !important;
	    opacity: 0.8
	}
	.top_right_content .small_device .user_name p span{
	    color:#fff !important;
	}
	.top_right_content .large_device{
		text-align: center;
		justify-content: center;
	}
	.top_right_content .large_device .user_name{
	    display: none;
	}
	.top_right_content  a{
	    color:#fff !important;
	}
	.top_right_content .logout_icon a i{
	    color:#fff !important;
	}
}




/*=================sidemenu=========================*/


.side_menu{
	width:250px;
	/*height:100%;*/
	height:calc(100vh - 16vh);
	/*height:92vh;*/
	left:0px;
	/*background-color:#8E44AD;    //old*/
	/*background-color:#ECF0F1;*/
	/*background-color:#212121;*/
	background-color: #fff;
	padding:0rem 0rem 1rem 0rem;
	position:relative;
	position:fixed;
	transition:.5s ease;
	overflow-y:auto;
	overflow-x:hidden;
	z-index:99;
	box-sizing:border-box;
	
	/*top:0px;*/
}

.side_menu.side_menu2{
	background-color: #1A237E !important;
	padding: 1rem .5rem;
}

.side_menu .logo{
	background-color:#128ef2;
	width: 100%;
	padding: 10px 10px;
	color:#fff;
	text-align:center;
	margin-top: 0px !important;
	display: none;
}

.side_menu::-webkit-scrollbar{
	width:8px;
	background-color:rgba(0 ,0 ,0 , 0.1);
}
.side_menu::-webkit-scrollbar-thumb{
	/*background:linear-gradient(to top,#283747,#2E4053,#5D6D7E);*/
	/*background:linear-gradient(to top , #2C3E50 , #34495E);*/
	background:rgba(0, 0, 0);
	border-radius:6px;
}


/*.side_menu::scrolled{
	width:5px;
}*/



label #sideMenu_btn{
	z-index:1;
	/*color:#fff;*/
	color: #000;
	margin:auto 5px ;
	margin-top: 10px;
	cursor:pointer;
	
}

.side_menu_mobile{
	display: none;
}

.side_menu_web{
	display: block;
}

@media only screen and (max-width: 980px){
	
	.side_menu_mobile{
		display: block;
		padding: 0 20px;
	}
	
	.side_menu_web{
		display: none;
	}
}

.hide_menu{
	width:50px;
	height:40px;
	display:flex;
	align-items:center;
	justify-content:flex-start;
	/*background-color:rgba(255 , 255 , 255 , 0.3);*/
	/*background-color:rgba(74, 35, 90 , 0.6);*/
	/*background-color:rgb(74, 35, 90, 0.3);*/
	background-color:#F39C12;
	/*border:2px solid rgb(74, 35, 90);*/
	padding-left:15px;
	border-top-left-radius:2rem;
	border-bottom-left-radius:2rem;
	/*position:fixed;*/
	/*top:50%;*/
	margin-left:255px !important;
	/*top:50%;*/
	/*transform:translateY(-50%);*/
	/*right:-18px;*/
	 
	transition:.5s ease;
	cursor:pointer;
	z-index:99;
}

.hide_menu:hover{
	/*background-color:rgba(255 , 255 , 255 , 0.8);*/
	background-color:rgb(74, 35, 90);
}

.hide_menu:hover.hide_menu i{
	opacity:1;
	
	/*color:#8E44AD;*/
	color:#fff;
}

.hide_menu i{
	/*color:rgb(74, 35, 90);*/
	color:#fff;
	opacity:0.8;
}

.side_menu img{
	width:100px;
	height:100px;
	margin-bottom:20px;
}


.side_menu h4{
	color:#ccc;
	padding:20px 0px;
	border-bottom:1px solid #fff;
}

.side_menu .navigation_link a{
	display:block;
	/*color:#1A237E;*/
	/*color:#4A235A;*/
	/*color:#757575;*/
	/*background-color: var(--nism_blue);*/
	/*padding:12px 10px;*/
	/*padding-left:40px;*/
	padding-left:18px;
	/*margin:2px 0px;*/
	width:100%;
	text-decoration:none;
	box-sizing:border-box;
	line-height:50px;
	/*border-bottom:1px solid rgba(74, 35, 90, 0.6);*/
	/*transition:.5s ease;*/
}

.side_menu .navigation_link a.home{
	color:#1A237E;
}

.side_menu .navigation_link a:hover{
	background-color: rgba(26, 35, 126, 0.5);
}
.navigation_link .item{
    overflow:hidden;	
}

.navigation_link .item .menu_btn{
    display:block;
    position:relative;
    padding:18px 0px 18px 20px !important;
    line-height:0px;
}

.navigation_link .item .menu_btn i{
	margin-right:0px;
}

.navigation_link .item .menu_btn .drop_down{
	float:right !important;
	font-size:12px;
	margin-top:3px;
}

.navigation_link .item .sub_menu{
	/*background-color:#5B2C6F;*/
	overflow:hidden;
	max-height:0;
	transition:.5s ease;
}

.navigation_link .item:target .sub_menu{
	max-height:500px;
} 

.navigation_link .item .sub_menu a{
	display:block;
	position:relative;
	/*color:#fff;*/
	white-space:nowrap;
	font-size:15px;
	padding:0px 20px !important;
	/*border-bottom:1px solid #ccc;*/
	transition:.5s;
}

/*.navigation_link .item .sub_menu a:hover{
	background-color:rgba(0 , 0 ,0 ,0.6);
}*/

.navigation_link .item .sub_menu i{
	padding-right:20px;
	font-size:20px;
}

.navigation_link .item .sub_menu:hover{
	/*background-color:#6C3483;*/
}



/*#check:checked ~ .side_menu h4 {
	opacity:0;
}*/



.side_menu .navigation_link {
	margin:0px !important;
}

.side_menu .navigation_link a:hover{
	/*background-color:#7D3C98 !important;*/
	color:#fff !important;
	/*border-left:4px solid #fff;*/
	/*border-left:4px solid rgba(74, 35, 90, 0.9) !important;*/
}

.side_menu .navigation_link a.active{
	/*background-color:#7D3C98;*/
	/*background-color:#000;
	border-left:4px solid #fff;*/
}

.side_menu .navigation_link a i{
	padding-right:10px;
}

.content{
	background:;
	width:(100% - 250px);
	margin-left:250px;
	/*height:calc(100vh - 10vh);*/
	transition:.5s;
	padding:0px 0px !important;
	/*overflow-y:auto;*/
}

.content.register_content,
.content.noAdmin{
	width: 100% ;
	margin-left: 0px;
}


.content .content_container{
	width:100%;
	height:calc(100vh - 16vh);
	overflow-y:auto;
	/*background-color: red;*/
	padding: .5rem;
	/*overflow-y:auto;*/
	background-color: #F5F7FF;
}

/*=================registerCard_container================*/
.registerCard_container .register_card{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background-color: #fff;
	align-self: normal;
	width: 70%;
	position: relative;
	padding: 1.5rem 1rem 1rem 1rem;
	margin: 1rem auto;
	/*border: 1px solid #1A237E;*/
	justify-content: center;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.register_card .register_title{
	background-color: #1A237E;
	/*border: 1px solid #1A237E;*/
	position: absolute;
	/*width: 30%;*/
	text-transform: capitalize;
	height: 25px;
	font-size: 16px;
	padding: 0 20px;
	color: #fff;
	left: 10%;
	top: -12px;
	transform: translateX(-50%);
	border-radius: 2rem;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}



.register_card .card{
	width: 35%;
	margin: 10px 2rem;
	margin-top: 0px;
	/*height: 100%;*/
}

@media only screen and (max-width:550px){
	.registerCard_container .register_card{
	   width: 95%;
	   padding: 2rem 0rem 1rem 0rem;
	}
	.register_card .register_title{
	   left: 30%;
	}
	.register_card .card{
	   width: 100%;
	   margin-top: 1.5rem 0rem 0rem 0rem;
	}
}

.register_card .card img{
	 /*height: 100px;
	 object-fit: cover;*/ /*10-Nov-2021*/
	 object-position: center;
}

.register_card .card .card-body{
	padding: 2px 5px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.register_card .card .card-body .card-title{
	font-size: 18px;
	margin-top: 10px;
	color: #1A237E;
	margin-bottom: 0px;
	/*text-transform: uppercase;*/
	opacity: 0.8;
}

.register_card .card .card-body a.btn{
	width: 50%;
	margin: 0px auto 10px auto;
}

.input_upload_div{
	background-color: ;
	width: 100%;
	padding: 2px 10px;
}

.searchByInput .filter_div{
	width: 100%;
}
/*=================home_content====================*/

.content .home_text{
	width:98%;
	height:90%;
	/*background-color:#FBFCFC;*/
	border-radius:8px;
	/*display:flex;
	align-items:flex-start;
	justify-content:center;
	flex-direction:column;*/
	margin:.5rem auto ;
	padding: 0px;
	/*background-color: #fff;*/
}

.content .home_text .page_header{
	text-align: center;
}

.content .home_text .page_header h1,
.content .home_text .home_kotak h1{
	font-weight: 800;
	font-size: 25px;
	display: inline-block;
	margin-bottom: 1.5rem;
	position: relative;
	padding: 0px 5px 15px 5px;
}

.content .home_text .page_header h1:after,
.content .home_text .home_kotak h1:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: var(--green);
	left: 0;
	bottom: 0;
	border-radius: 2rem;
}

.content .home_text .page_header h1:before,
.content .home_text .home_kotak h1:before{
	content: '';
	position: absolute;
	width: 100px;
	height: 10px;
	border: 2px solid var(--green);
	background-color: #fff;
	left: 50%;
	bottom: -2px;
	border-radius: 2rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.content .home_text .home_kotak{
	background-color: #fff;
	height: 100%;
	margin: auto 0rem;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 2px -2px 5px rgba(0,0,0,0.3);
    /* box-shadow: 2px 2px 5px rgba(0,0,0,0.3); */
	position: relative;
	z-index: ;
}

.content .home_text .home_kotak::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: ;
	z-index: ;
	box-shadow: -2px 2px 5px rgba(0,0,0,0.3);
}

.nav_card{
	/*background-color: #fff;
	padding: 1rem 10px 0rem 10px;*/
}

.nav_card .cols{
	background-color: #fff;
	padding-top: 1rem;
}
.nav_card .card.shadow{
	position: relative;
	/*background-color: #FCF3CF;*/
	/*box-shadow: 0px 0px 10px rgba(0,0,0,0.3);*/
	/*margin: 0px !important;*/
	padding: 10px 15px 10px 10px;
	text-decoration: none;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
	/*box-shadow: none;*/
	transition: .5s ease-in-out;
	border-radius: 0px;
	margin-bottom: 20px;
	border: 1px solid rgba(0,0,0,0.1);
	/*width: 70%;
	margin: auto;*/
	
}

.nav_card .card.shadow{
	text-align: center;
	/*box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);*/
	/*height: 150px;*/
}

.nav_card .card.shadow:before{
	position: absolute;
	content: '';
	bottom: 5px;
	left: 11%;
	width: 90%;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.3);
	/*background-color: red;*/
	transform-origin: left;
	transform: skewY(5deg);
	z-index: -1;
	filter: blur(5px);
}

.nav_card .card.shadow .card_icon{
	width: 96%;
	height: 90px;
	/*background-color: red;*/
	background-color: #E0ECF8;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px auto;
	border: 1px solid rgba(0,0,0, 0.1);
}

.nav_card .card.shadow .card_icon i,
.nav_card .card.shadow .card_icon span{
	font-size: 25px;
	width: 60px;
	height: 60px;
	background-color: #26268b;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: .5s ease-in-out;
}

.nav_card .card:hover .card_icon i,
.nav_card .card.shadow .card_icon span{
	width: 100%;
	height: 100%;
	border-radius: 0;
	height: 100%;
	font-size: 50px;
}

.nav_card .card.shadow .card_icon img{
	width: 100%;
	height: 100%;
}

/*.shadow1:before{
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 50%;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.3);
	transform-origin: right;
	transform: skewY(-8deg);
	z-index: -1;
	filter: blur(6px);
}

.shadow1:after{
	position: absolute;
	content: '';
	bottom: 5px;
	right: 0;
	width: 50%;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.3);
	transform-origin: left;
	transform: skewY(8deg);
	z-index: -1;
	filter: blur(6px);
}*/


/*.home_content .card:hover{
	transform: translateY(-10px);
}*/

.home_content .card.shadow .card-body{
	text-align: center;
	padding: 10px 10px;
	font-size: 14px;
	font-weight: 600;
	text-transform: capitalize;
	/*color: rgba(0,0,0,0.8);*/
	background-color: #f7941d;
	margin-top: 0rem;
	color: #fff;
	height: 50px;
}

/*====================notification_board==============*/
.notification_board.card{
	margin-top: 1rem;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: none;
	border-radius: 0px;
	margin-bottom: 2rem;
}

.notification_board .card-header{
	/*background-color: #1A237E;*/
	color: #1A237E;
	/*background: var(--green);  
    background: -webkit-linear-gradient(-225deg, #FFFFFF 10%, var(--orange), var(--green)); 
    background: linear-gradient(-225deg, #FFFFFF , var(--orange), var(--green));*/
    font-weight: 600;
    text-transform: capitalize;
}

.notification_board .alert{
	padding: 8px 10px !important;
	position: relative;
	margin-bottom: 5px;
}

.notification_board .card-body{
	padding: 10px 5px;
	height: 50vh;
}

.notification_board .card-body marquee{
	padding-top: 5px;
}

/*.notification_board .card-body{
	height: 60vh;
	overflow: hidden;
	position: relative;	
	padding: 5px 5px;
}

.notification_board .card-body:after{
	content: '';
	position: absolute;
	top: 95%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}*/

/*.notification_board .card-body:before{
	top: 0;
	background-color: green;
}*/

/*.notification_board .card-body:after{
	bottom: 0;
	background-color: white;
}

.marquee_content{
	animation: marquee_scrolling 10s linear infinite;
}

.marquee_content:hover{
	animation-play-state: paused;
}

@keyframes marquee_scrolling{
	0%{
	   transform: translateY(0);
	}
	100%{
	   transform: translateY(-62vh);
	}
}
*/

/*================================================*/

/*.content .card{
	margin:1rem .3rem;
	padding:10px;
	box-shadow:;
}*/



/*===================================================*/

.accordion-item{
	/*background-color:red;*/
	border:none !important;
	box-shadow:none !important;
	outline:none !important;
	transition:.5s ease;
	overflow:hidden;
}



/*.accordion-item h2:hover{
	 background-color:#7D3C98 !important;
	 border-left:4px solid #fff !important;
}*/

.accordion-flush .accordion-item .accordion-button {
	outline:none;
	box-shadow:none;
	border:none !important;
	/*border-bottom:1px solid rgba(74, 35, 90, 0.6) !important;*/
}

.accordion-button:not(.collapsed) {
    /*background-color:#128ef2 !important;*/
    /*background-color:#000 !important;*/
    /*background-color: rgba(26, 35, 126, 0.6) !important;*/
    
    /*background-color: rgba(255, 255, 255, 0.1) !important;*/
    background-color: #1A237E !important;
    
    /*color:#757575 !important;*/
    color:#fff !important;
    font-weight:600;
	box-shadow:none;
	border:none;
	border-bottom:1px solid rgba(74, 35, 90, 0.6) !important;
}

.accordion-button:not(.collapsed).accordion-button i {
   /* color: #fff !important;*/
   /* background-color:#7D3C98 !important;*/
   /*background-color:1px solid rgba(74, 35, 90, 0.4) !important;*/
   /*color:#F39C12 !important;*/
   /*color:#5B2C6F !important;*/
   color:#fff !important;

}

.accordion-button:hover .accordion-button:not(.collapsed) .accordion-button i{
	 /*background-color:#7D3C98 !important;*/
	/* background-color:#7D3C98;*/
	/* background-color: #000;*/
	 background-color: rgba(26, 35, 126, 0.6);
	 color:#fff !important;
	 /*border-left:4px solid #5B2C6F !important;*/
	 /*color:#fff !important;*/
}

.accordion-item-masters .accordion-button.active,
.accordion-item-evaluator .accordion-button.active,
.accordion-item-rp .accordion-button.active,
.accordion-item-program .accordion-button.active,
.accordion-item-report .accordion-button.active,
.accordion-item-reportAzadi .accordion-button.active{
	background-color: rgba(26, 35, 126, 0.6);
	color:#fff !important;
	font-weight: 600;
}

.accordion-item-masters .accordion-button.active i,
.accordion-item-evaluator .accordion-button.active i,
.accordion-item-rp .accordion-button.active i,
.accordion-item-program .accordion-button.active i,
.accordion-item-report .accordion-button.active i,
.accordion-item-reportAzadi .accordion-button.active i{
	color:#fff !important;
}

/*.accordion-button:not(.collapsed)::after{
	
}*/

.accordion-item h2 button{
	/*color:#fff;*/
	/*color:#4A235A;*/
	/*color:#757575;*/
	/*color: rgba(255, 255, 255, 0.7);*/
	color: #1A237E;
	border: none !important;
	
}

.accordion-item h2 button i{
	/*color:#fff;*/
	/*color:#4A235A;*/
	/*color:#757575;*/
	/*color: rgba(255, 255, 255, 0.7);*/
	color: #1A237E;
	font-size:18px;
	margin-right:10px;
	transition:.5s ease !important;
}

.accordion-item h2 button i:hover{
	color:#fff;
}

.accordion-body{
	padding:5px 0px !important;
	/*background-color:#A569BD;*/  /*#5B2C6F*/
	/*background-color:rgba(142, 68, 173 , 0.2);*/
	/*background-color:#000;*/
	/*background-color: rgba(255, 255, 255);*/
	background-color: #1A237E;
	margin: 0rem 0rem;
	border:none; 
	transition:.5s ease;
}



.accordion-body a{
	padding-left:15px !important;
	/*border-bottom:1px solid #fff;*/
	/*border: none !important;*/
	line-height:25px !important;
	padding:4px 0px;
	/*color: #1A237E !important;*/
	color: #fff;
	/*color:#4A235A !important;*/
	/*color:#757575 !important;*/
	transition:.5s ease;
}

.accordion-body a:last-child{
	border: none !important;
}

.accordion-body a i{
	display: ;
	font-size:10px;
}

.accordion-body a.navLink:hover{
	/*background-color:#6C3483 !important;
	color:#fff;*/
	/*background-color:#7D3C98 !important; */
	/*background-color:#7D3C98 !important;*/
	/*background-color:#128ef2 !important;*/
	/*background-color:red !important;*/
	background-color: rgba(26, 35, 126, 0.5) !important;
	color: #42a5f5 !important;
	/*border-left:4px solid #fff;*/
	/*border-left:4px solid rgba(74, 35, 90, 0.9) !important;*/
}

.accordion-button{
    transition:.5s ease;
   
}


.accordion-button:hover{
	 /*background-color:#128ef2 !important;*/
	 /*background-color:#000 !important;*/
	 
	 /*background-color: rgba(255, 255, 255, 0.1);*/
	 
	 background-color: rgba(26, 35, 126, 0.5);
	 /*border-left:4px solid #5B2C6F !important;*/
	 /*border-left:4px solid #fff !important;*/
	 color:#fff !important;
}

.accordion-button:hover.accordion-button i{
	 color:#fff !important;
}

#reload.reloadCaptcha{
	animation: reloadCaptcha .5s ease;
	background-color:Red;
}

@keyframes reloadCaptcha{
	0%{
	   transform:rotate(0deg);
	},
	50%{
	   transform:rotate(180deg);
	},
	100%{
	   transform:rotate(360deg);
	}
}



/*#check:checked ~ .accordion-button::after{
	display:none !important;
	background-image:none !important;
}*/

/*.collapseBtn.active{
	margin-left:222px !important;
}

.collapseBtn.active button span{
	display:none;
}*/

.searchByInput button{
	margin-top: 2.4em;
}

fieldset.uploadSession_img.hide{
	display: none;
}
/*===================*/
.navLink.activeLink{
	/*background-color:#7D3C98 !important;
	border-left:4px solid #fff !important;*/
} 

/*===============kotak css===========*/
.home.activeLink,
.userManagement.activeLink,
.pendingResourceList.activeLink,
.allReasonPerson.activeLink,
.systemConfiguration.activeLink,
.roleMaster.activeLink,
.refCodeMaster.activeLink,
.subjectMaster.activeLink,
.emaillog.activeLink,
.programRegistration.activeLink,
.essayMaster.activeLink,
.guidLineMaster.activeLink,
.quizConfigMaster.activeLink,
.studyMaterialMaster.activeLink,
.pendingEvaluatorList.activeLink,
.registeredCollegeReport.activeLink,
.professionalReport.activeLink,
.studentReport.activeLink,
.applicantReport.activeLink,
.evaluatorReport.activeLink,
.systemConfiguration.activeLink,
.quesMaster.activeLink,
.uploadQues.activeLink,
.registerBulkStudent.activeLink,
.activeUserList.activeLink,
.inActiveUserList.activeLink,
.pendingEvaluatorList.activeLink,
.essayMaster.activeLink,
.registeredCollegeReportAzadi.activeLink,
.professionalReportAzadi.activeLink,
.studentReportAzadi.activeLink,
.feststudentReportAzadi.activeLink,
.feststudentReportAzadiDateWise.activeLink,
.downloadstudentReportAzadi.activeLink,
.applicantReportAzadi.activeLink,
.evaluatorReportAzadi.activeLink,
.regionWiseQuizResultAzadi.activeLink,
.pendingRPAzadiList.activeLink,
.rpAzadiReportAzadi.activeLink,
.regionWiseEssayResultAzadi.activeLink,
.rpwiseclamereport.activeLink,
.certificateDownloadedreport.activeLink,
.collegeWiseQuizResultAzadi.activeLink,
.regionWiseCollegeRankAzadi.activeLink,
.registerEmailReportAzadi.activeLink,
/*====================*/
.uploadResult.activeLink,
.verificationPending.activeLink,
.generateCertificate.activeLink,
.resourcePersonReport.activeLink,
.allProgramList.activeLink,
.generateCertificate.activeLink,
.registeredCollegeReport.activeLink,
.programReport.activeLink,
.feedbackReport.activeLink,
.feedbackResponseReport.activeLink,
.participantsReport.activeLink,
.programRegistration.activeLink,
.programListRP.activeLink,
.generateImpanelment.activeLink,
.generatefeedback.activeLink,
.paymentpending.activeLink,
.approvalPending.activeLink,
.paymentDetailPending.activeLink,
.programRPReport.activeLink,
.quizResultReport.activeLink,
.languagewiseessayassignlist.activeLink,
.calculateCollegeRank.activeLink,
.collegeListEdit.activeLink,
.examExtension.activeLink,
.studentListEdit.activeLink,
.SendRegisterBulkEmailList.activeLink,
.registereEmailStatusReport.activeLink,
.quizBulkExtension.activeLink,
.essayBulkExtension.activeLink,

/*====================================*/


.tradeFreezing.activeLink{
	/*background-color:#7D3C98 !important;*/
	/*background-color:#fff !important;*/
	/*background-color: #128ef2 !important;*/
	/*color:#7D3C98 !important;*/
	color:#42a5f5 !important;
	background-color: #1A237E;
	font-weight:500;
	/*border-left:4px solid #7D3C98 !important;
	border-top:2px solid #fff;*/
	/*border-left:4px solid #fff !important;*/
	position:relative;
} 

.essayTable{
	/*background-color: #1A237E;*/
	width: 98%;
	margin-bottom: 1.5rem;
	/*border-collapse: collapse;*/
	margin: 1rem auto;
}

i.essayCollapse{
	width:30px;
	height:30px;
	border-radius: 50%;
	background-color: #1A237E;
	color: #fff;
	box-shadow: 2px 4px 10px rgba(0,0,0,0.6);
	position: absolute;
	right: 1rem;
	top:-15px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease;
	/*line-height: 30px;*/
}

i.essayCollapse.hide{
	transform: rotate(180deg);
}

.essayTable th,
.essayTable td{
	border: 1px solid rgba(41, 128, 185 ,0.5);
	padding: 5px 8px;
}

.essayTable td input{
	margin-bottom: 0px;
	padding: 2px 10px;
}

.essayTable th{
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12px;
}

.essayTable th b{
	color: red;
	font-weight: 800;
}

.essayTable th span{
	color: rgba(199, 0, 57, 0.8);
	margin-left: 8px;
}

/*=========================================*/
.home.activeLink::after,
.userManagement.activeLink::after,


.ViolationCases.activeLink::after,
.support.activeLink::after,

.programListRP.activeLink::after,
.tradeFreezing.activeLink::after{
	width:15px;
	height:15px;
	content:'';
	/*background-color:#BB8FCE !important;*/
	/*background-color:#7D3C98 !important;*/
	right:-10px;
	position:absolute;
	top:15px;
	transform:rotate(45deg); /* translateY(-50%);*/
}

#mydatatable_length select{
	width:80px;
}
/*===================================================*/

#check:checked ~ .side_menu{
	left:-255px;
}


#check:checked ~ .hide_menu{
	display:none !important;
}

#check:checked ~ .side_menu a span{
	display:none;
}

#check:checked ~ .side_menu a {
	font-size:20px;
	margin-left:220px;
	width:80px;
}

#check:checked ~ .content {
	margin-left:0px;
}

#check:checked ~ .side_menu center{
	    display:none;
}

#check:checked ~ .side_menu .hide_menu i{
	transform:rotate(180deg);
}

#check:checked ~ .side_menu .accordion-item h2 button span{
	display:none;
}

#check:checked ~ .side_menu #drpDwn button i{
    margin-left: 220px !important;
    /*background-color:red;*/
}


.side_menu .accordion-button::after{
    /*margin-left: 220px !important;*/
    /*background-color:red;*/
    background-image:none !important;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    content: "\f078";
    /*transform:rotate(180deg);*/
    font-size:15px;
    font-weight:600;
    margin-top:2px;
    
 }

#check:checked ~ .side_menu .accordion-button::after{
    /*margin-left: 220px !important;*/
    /*background-color:red;*/
    background-image:none;
    /*content:attr(<i class="fas fa-chevron-down"></i>);*/
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    content: "\f078";
    /*transform:rotate(180deg);*/
    font-size:15px;
    font-weight:600;
    margin-top:2px;
}


/*.accordion-button::after{
	background-color:Red;
	color:#fff;
}*/


#check{
	display:none;
}

@media screen and (max-width:980px){
	  .side_menu{
	        width:100%;
			/*left:-255px;*/
			left: -100%;
		}
		
		
	.side_menu a span{
		display:none;
	}	
	.side_menu a {
		font-size:20px;
		margin-left:250px;
		width:80px;
	}
	
	.side_menu #drpDwn button i{
	   margin-left:220px !important;
	}
	
	.side_menu .accordion-item h2 button span{
		display:none !important;
	}	
	
	.content {
		margin-left:0px;
		/*margin-left:0px;*/
	}
	
	.side_menu center{
		 display:none;
	}
	
	#check:checked ~ .side_menu{
		left:0px;
	}
	
	#check:checked ~ .side_menu a span{
		display:inline-block;
	}
	
	#check:checked ~ .side_menu a {
		font-size:20px;
		margin-left:0px;
		width:100%;
	}
	
	#check:checked ~ .side_menu .content {
		/*margin-left:300px;*/
		margin-left:0px;
	}
	
	.navigation_link .item .menu_btn .drop_down{
		float:right;
	}
	
	#check:checked ~ .side_menu .accordion-item h2 button span{
		display:block !important;
		margin-left:0px;
	}	
	
	#check:checked ~ .side_menu #drpDwn button i{
	   margin-left:0px !important;
	}
	
}



.paginate_button {
	margin:0px 5px;
}






/*==============================kotak app css=======================*/
form{

	/*heigh:100%;*/
	margin:10px 10px !important;
	padding: 20px 10px;
	background-color: #fff;
	padding: 0px 0px !important;
	border: 1px solid #e2e9e6;
	border-radius: 10px;
	box-shadow: 0px 4px 6px 0px #e2e9e6; 
}

form.hidden_form{
	border: none !important;
	box-shadow: none !important;
}

/*==========feedback_body=============*/
form.feedback_body{
	border: 1px solid #42a5f5;
	width: 50%;
	margin: 1em auto !important;
}
form.feedback_body .form-check{
	margin:0px !important;
	/*display:flex;
	flex-direction: column;*/
}
form.feedback_body .feedback_input_field{
	display: flex;
	padding-left: 1.5em;
	
}
form.feedback_body .feedback_input_field label {
	/*border:1px solid #e2e9e6;
	width:35px;
	height:30px;
	color:#42a5f5;
	align-items:center;
	justify-content: center;
	display: flex;
	justify-content: center;
	cursor: pointer;
	margin:0px !important;*/
	margin:5px  0px !important;
	position: relative;
	transition:.5s ease-in-out;
}
/*form.feedback_body .feedback_input_field label:hover{
	background-color:#42a5f5;
	color:#fff !important;
	opacity:0.6;
}*/
form.feedback_body .feedback_input_field input{
	/*margin:0px !important;
	margin-bottom:5px !important;*/
	appearance: none ;
	-webkit-appearance: none ;
}

form.feedback_body .feedback_input_field label .feedbacktext{
	border:1px solid #e2e9e6;
	height:30px !important;
	
	width:30px !important;
	text-align:center;
	margin: 0px !important;
	color:#42a5f5;
	position: relative;
	cursor: pointer;
	font-size: 16px;
	padding: 5px 12px;
}

form.feedback_body .feedback_input_field input:checked ~ .feedbacktext{
	background-color:#42a5f5;
	color:#fff;
}

form.feedback_body span.error{
	font-size: 12px;
	font-weight: normal !important;
	text-transform: capitalize;
	/*position: absolute;
	right: 0;*/
}

form.feedback_body .card-footer{
	background-color:#fff;
	margin: 0px !important;
	margin-top:10px !important;
	display: flex;
	align-items:center;
	justify-content: space-between;
}

form.feedback_body .card-footer h6{
	color:#07077a;
	font-size:14px;
}

form.feedback_body .card-footer h6 span{
	color: red;
}

form.feedback_body .form-row{
	margin-bottom:0px;
	padding-bottom:8px;
	border-bottom: 1px solid #ccc;
}



/*===========================*/
form .card-header{
	background-color:#07077a ;
	color:#fff;
}
.input-field label{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	margin-bottom: 7px;
	latter-space: 1px;
}
.input-field label span{
	color:red;
	font-size:15px;
	margin-left:5px;
}
.register_now_text{
   width: 100%;
   height: 100%;
   display: flex;
   align-items:center;
   justify-content: center;
   flex-direction: column;
}

.register_now_text h5{
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	margin: 0px !important;
}
.register_now_text img{
	width: 100%;
	height: 200px;
}

.navBrand_register{
	padding:6px  0px !important;
	background-color:#fff !important;
}
.navBrand_register img{
	width: 100% !important;
}
.submit-form{
	width:100%;
	display:flex;
	align-items:center;
	justify-content: center;
}
.submit-form button,
.submit-form .btn,
.submit-form a{
	background-color:#07077a !important;
	color:#fff;
	padding: 5px 20px !important;
	display: block;
	
}

.submit-form button:hover,
.submit-form a:hover{
	opacity: 0.9;
	color:#fff;
}

/*=================================report css==========================*/
.income-section{
	/*background-color: red;*/
	padding: 0px 0px;
}

.income-section .card{
	padding: 0px;
	/*ckground-color:#42a5f5;*/
}

.income-section .card .card-header,
.before_form .card .card-header{
	background-color:#07077a;
	color:#fff;
	display: flex;
	align-items:center;
	justify-content: space-between;
}

.before_form .card .card-header p{
	margin-bottom: 0px;
}

.income-section .card .action{
	
}

.income-section .card .action a{
	background-color:#42a5f5;
	color:#fff;
	padding: 2px 20px 4px 20px;
	text-decoration: none;
	margin: 0 5px;
	border-radius: 2em;
	font-size: 14px;
	transition: .5s ease;
}

.income-section .card .action a:hover{
	background-color:#fff;
	color:#42a5f5;
}

.income-section .card .action a span i{
	margin-right: 8px;
	font-size: 14px;
}

.report_container{
	background-color:#fff;
	margin: 0px;
	/*width: 100%;*/
	height: 72vh;
	overflow: auto !important;
	padding: 2px 1px;
}

.role_status_field{
	background-color:red;
}


/*.form-check{
     margin-top:2em;
     text-align:center;
     border: 1px solid #ced4da;
     width: 95%;
     padding-top:4px;
     border-radius: 4px;
}

.form-check label{
	margin-right:1em;
}*/

/*==========fieldset========*/

fieldset {
	border:1px solid #07077a !important; /*#e2e9e6*/
	/*width: 100%*/
	position: relative;
	margin: 1rem 0rem 2rem 0rem !important;
	border-radius: 6px;
	padding: 0px 10px;
}

fieldset .input-group button{
	/*background-color:#07077a !important;*/
	/*color:#fff !important;
	/*padding: 4px 20px !important;*/
	/*margin-top:2.7em;*/
	/*margin-right:1px !important;
	border-right:1px solid #fff !important;*/
	border: 1px solid #07077a;
	font-weight:600;
	transition: all 0.5s ease;
}

fieldset .input-group button:hover{
	background-color:#07077a !important; /*#ECF0F1*/
	color:#fff;
}

fieldset  button i{
	margin-right:5px;
}

fieldset .input-group button i:hover{
	opacity:0.8;
}

fieldset .input-group button .fa-file-upload{
	color:#42a5f5 !important;
}



fieldset .input-group button .fa-file-excel{
	color:#27AE60 !important;
}

fieldset .input-group button .fa-file-download{
	color:#07077a !important;
}
/*====================fieldset btn======================*/
fieldset .fieldset_btn{
	/*background-color:red;*/
	position: absolute;
	right: 1em;
	top:-20px;
}


fieldset .fieldset_btn .btn{
	background-color:#42a5f5 ;
	color:#fff;
	border-radius:2em;
	padding: 4px 20px !important;
	margin:0 10px;
	transition:.5s ease;
}



fieldset .fieldset_btn .btn:hover{
	background-color:#07077a;
	color:#fff !important;
}

/*============fieldset collapse==============*/
fieldset .fieldset_collapse_btn{
	background-color:#ccc;
	display: flex;
	position: absolute;
	width:30px;
	height: 30px;
	border-radius:50%;
	text-align: center;
	align-items:Center;
	justify-content: center;
	color:#42a5f5;
	top: -15px;
	right:1em;
	transition: .5s ease-in-out;
	cursor: pointer;
	box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
	            2px 2px 6px rgba(0, 0, 0, 0.8 );
}

fieldset .fieldset_collapse_btn:hover{
	box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
	            2px 2px 6px rgba(0, 0, 0, 0.8 ),
	            inset -2px -2px 10px rgba(0, 0, 0, 0.05),
	            inset 2px 2px 10px rgba(0, 0, 0, 0.5 )
}

fieldset.card .form-row{
	padding-left: 10px;
	padding-right: 10px;
}

/*=========fieldset table============*/

.table_card .card-header{
	display: flex;
	align-items:center;
	justify-content: space-between;
}

.table_card .card-header button,
.table_card .card-header a{
	background-color: #42a5f5;
	color:#fff;
	border-radius:2em;
	padding:2px 30px !important;
	margin:0 5px;
	font-size: 14px;
	margin-bottom: 0px !important;
	cursor: pointer;
	transition:.5s ease;
}
.table_card .card-header button:hover,
.table_card .card-header a:hover{
	background-color:#fff;
	color:#42a5f5;
}

.table_card .card-header a i{
	margin-right:5px;
	font-size: 14px;
}

.downloadBtn{}

.table_card .card-header button{}

form .table_card{
	margin: 0px 0px !important;
	padding: 0px !important;
}
.table_card .card-body{
	/*background-color:#42a5f5;*/
	padding: 2px;
	padding-bottom: 0px !important;
	/*height: 60vh;
	overflow: scroll;*/
	
}

.table_card .card-body table{
	margin-bottom:0px ;
	
}

/*.table_card .card-body table .last_td i{
   margin-top: 8px;
}*/
.table_card table .last_td{
	/*background-color: red;*/
}

.table_card table .last_td input[type=radio]{
	color:red;
	width:25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-top: 3px;
}

.sub_fielfset{
	border:1px solid #e2e9e6 !important;
	/*width: 98%;
	margin-left: 2%;*/
}

fieldset legend{
	display: inline-block !important;
	position: relative;
}

legend h6{
	/*background-color:#42a5f5;*/
	background-color:#fff;
	color:#07077a;
	position: absolute;
	display: block;
	font-size: 14px;
	padding: 3px 10px;
	top:-13px;
	left: 1em;
	/*color:#fff;*/
	letter-spacing: 1px;
	border-radius: 2em;
}

.sub_fielfset legend h6{
	/*background-color:#07077a ;*/
	background-color:#fff;
	color:#42a5f5;
}

.main_fieldset{
	border: 1px solid #07077a !important;
}

legend h6 span{
	color:red;
	margin-left: 2px;
}

fieldset .uploadPhotoVideo{
	width: 100%;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: center;
}

fieldset .uploadPhotoVideo div{
	width: 250px;
	height: 200px;
	background-color:#e2e9e6;
	margin: 5px 5px;
	position: relative;
}

fieldset .uploadPhotoVideo div .btn{
	background-color:#42a5f5 !important;
	color:#fff;
	position: absolute;
	top: 0;
	left: 0;
	transition:.5s ease;
}

fieldset .uploadPhotoVideo div .btn:hover{
	background-color:#07077a !important;
}

.scheduler-border{
	margin:1rem 0rem;
}

/*============image upload=============*/
.custom-file-container {
           /* max-width: 400px;
            margin: 100px auto;*/
 }
 
 .custom-file-container__image-preview{
     height: 160px !important;
     margin: 0px !important;
     padding: 10px;
 }    
 
 .custom-file-container__image-multi-preview{
    width: 100px !important;
    height: 100px !important;
    object-fit: cover !important;
    background-position: center !important;
    margin:10px !important;
    transition: all 0.5s ease;
 } 
 
 .dowloadPreview_img {
   width: 21px;
   height: 21px;
   display: flex;
   align-items:center;
   justify-content: center;
   background-color: red;
   color:#fff;
   border-radius: 50%;
   position: absolute;
   left: 90% !important;
   top:-5px;
   
 }
 
 .dowloadPreview_img i{
    font-size: 7.5px;
    display: inline-block;
    color:#fff;
 }
 
 .viewPreview{
    /*background-color:rgba(255, 255, 255, 0.6);*/
    color:#000 !important; /*#42a5f5*/
    text-decoration: none;
    font-size:;
    font-weight:500;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    transition: .5s ease;
    display: none;
 }
 
 .custom-file-container__image-multi-preview:hover .viewPreview{
    background-color:#42a5f5;
    display: block;
    padding: 0px 10px !important;
    text-decoration: none;
    color:#fff !important;
    border-radius:4px;
 }
 .custom-file-container__image-multi-preview__single-image-clear {
     background-color:#42a5f5 !important; /*#42a5f5*/
     right: 5px !important;
     position: absolute !important; 
 } 
 
 .custom-file-container__image-multi-preview__single-image-clear__icon{
     color:#fff !important;
          z-index: 9999 !important;
 }
/*========================================*/        

.user_hint{
	font-weight: 600 !important;
	font-size: 12px !important;
	color: #07077a !important;
	text-transform: capitalize;
}
.inner_table_div{
  padding: 10px;	
}

.inner_table_div table{
	border-radius: 6px;
}
#form_check_field{
	width: 100% !important;
	border: none !important;
	margin: 0em !important;
	text-align: left !important;
}

.upload_reg_img{
	width: 110px;
	height: 100px;
	position: relative;
	background-color:#e2e9e6;
}
.upload_reg_img img{
	width: 100%;
	height: 100%;
	border-radius: 6px;
	border: 1px solid #42a5f5;
	/*box-shadow: 0px 0px 10px 2px #ccc;*/
	/*box-shadow: 0px 4px 8px 0px #757575;*/
	object-fit:cover;
}
/*===========reports table css=====================*/
table{
	border-collapse: collapse;
	position: relative !important;
}

thead tr th{
   white-space: nowrap;
   position: sticky !important;
   top:0em;
   background-color:#42a5f5 !important;
   color:#fff;
}
table td{
	white-space: nowrap;
	/*display: inline-block;*/
	/*word-wrap: nowrap !important;
	background-color:red !important;*/
	padding: 0px 8px;
	text-align: left;
}

.tdWidth{
	/*background-color: red;*/
	position: relative;
	width:350px;
	/*height: 30px;*/
	/*overflow: hidden;*/
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis ;
	/*white-space: normal;*/
	
	transition: all 1s ease;
}

.dataTables_empty{
	color: red;
	text-align: left !important;
	padding: .4rem 1rem !important;
}

.tdWidth:hover{
	/*height: auto;*/
	white-space: normal;
}

table td form,
.income-section form{
	padding: 0px !important;
	margin: 0px !important;
	background: transparent !important;
	border: none;
	box-shadow:none;
}
td button{
/*ackground-color: #42a5f5 !important;
	color:#fff;*/
	color:#42a5f5 !important;
	background: transparent !important;
	/*padding: 1px 25px 2px 25px !important;
	border-radius: 2em !important;*/
	border: none !important;
	outline: none;
	
	transition:.5s ease;
}

td button i:hover{
	/*background-color:#07077a !important;
	color:#fff !important;*/
	color:#07077a;
}


/*==============================dataTable css=======================*/


#mydatatable_wrapper{
	position: relative;
}

#mydatatable_length{
	position: absolute;
	top: 0.2em;
	left: 50%;
	transform: translateX(-50%);
	/*z-index:99;*/
}

#mydatatable_filter{
	  margin-right: 10px;
	  margin-top: 4px;
}

#mydatatable_info{
	position: absolute;
	left:5px;
	font-size: 14px;
	color:#42a5f5;
	/*color:#07077a;*/
}

#mydatatable_paginate{
	margin-top: 1em;
	margin-right: 5px;
	color:#42a5f5;
	font-size: 14px;
}


.paginate_button {
	cursor: pointer;
	padding: 2px 10px;
	border-radius:6px;
	transition: .5s ease;
}
.paginate_button:hover{
	background-color:#42a5f5;
	color:#fff !important;
}
#mydatatable_paginate #mydatatable_previous{
	
}
#mydatatable_paginate .paginate_button {
	margin: 0px;
}
#mydatatable_paginate #mydatatable_next{
	
}
/*=============buttons==========*/
.dt-buttons{
	/*position: sticky;*/
	position: absolute;
	background-color:#fff;
    padding: 0px 10px;
	/*top:0;
	z-index:99;*/
	z-index: 1;
}


.dt-buttons button{
	/*ckground-color:#000;*/
	/*lor:#fff;*/
	color:#42a5f5;
	background-color: #fff;
	padding: 2px 12px;
	margin:0px;
	border: none;
	position: relative;
}

.dt-buttons button:nth-child(1){
	/*background-color: red;*/
}
.dt-buttons button:after{
	/*background-color: red;*/
	background-color: #000;
	color:#fff;
	position:absolute;
/*idth:100px;*/
	z-index:10; 
	bottom:-60%;
	left:50%;
	transform:translateX(-50%);
    font-size:10px;
    padding: 2px 10px;
    white-space: nowrap;
    border-radius:4px;
    opacity:0;
    transition:.5s ease;
}

.dt-buttons button:nth-child(1):after{
	/*background-color: red;*/
	content:'Copy Data';
}

.dt-buttons button:nth-child(1):after{
	/*background-color: red;*/
	content:'Copy Data';
}

.dt-buttons button:nth-child(2):after{
	/*background-color: red;*/
	content:'Excel Data';
}

.dt-buttons button:nth-child(3):after{
	/*background-color: red;*/
	content:'Csv Data';
}

.dt-buttons button:nth-child(4):after{
	/*background-color: red;*/
	content:'Pdf Data';
}

.dt-buttons button:nth-child(5):after{
	/*background-color: red;*/
	content:'Print Data';
}

.dt-buttons button:hover:after{
	bottom:-50%;
	opacity:1;
}
.dt-buttons button span{
	display:none;
}
.dt-buttons button:nth-child(1):before{
	content:'\f328';
	position:relative;
	/*rgin-right: 8px;*/
	font-size: 18px;
	text-transform:uppercase;
	font-weight: bold;
	font-family: "Font Awesome 5 Free";
}
.dt-buttons button:nth-child(2):before{
	content:'\f1c3';
	position:relative;
	/*rgin-right: 8px;*/
	font-size: 18px;
	color:#58D68D;
	text-transform:uppercase;
	font-weight: bold;
	font-family: "Font Awesome 5 Free";
}

.dt-buttons button:nth-child(3):before{
	content:'\f6dd';
	position:relative;
	/*rgin-right: 8px;*/
	font-size: 18px;
	text-transform:uppercase;
	font-weight: bold;
	color:#28B463;
	font-family: "Font Awesome 5 Free";
}

.dt-buttons button:nth-child(4):before{
	content:'\f1c1';
	position:relative;
	/*rgin-right: 8px;*/
	font-size: 18px;
	text-transform:uppercase;
	font-weight: bold;
	color:#C0392B;
	font-family: "Font Awesome 5 Free";
}

.dt-buttons button:nth-child(5):before{
	content:'\f02f';
	position:relative;
	/*rgin-right: 8px;*/
	font-size: 18px;
	text-transform:uppercase;
	font-weight: bold;
	color:#07077a;
	font-family: "Font Awesome 5 Free";
}

/*====================small device css========================*/
@media only screen and (max-width:980px){
	#mydatatable_length{
	  position: relative;
	  text-align: center;
	  padding: 5px;
	  padding-bottom: 0px;
	  border-top: 1px solid #ccc; 
	  border-bottom: 1px solid #ccc; 
	  margin: 20px 0;
	}
	#mydatatable_filter{
	  text-align: center;
	}
	#mydatatable_info{
	  position: relative;
	  text-align: center;
	  border-bottom: 1px solid #ccc;
	  padding-bottom:5px;
	}
	#mydatatable_paginate{
	  margin-top: 0em;
	  text-align: center;
	  margin-bottom:0.5em;
	}
	.dt-buttons{
	  position: relative;
	  text-align: center;
	}
	/*======form feedback_body=============*/
	form.feedback_body{
		width: 80%;
	}
	/*================fieldset==================*/
	fieldset .fieldset_btn{
	   position: relative !important;
	   margin-right:0em !important;
	   margin-top: 1em;
	   display:flex;
	   align-tems:center;
	   justify-content: center;
	  
	}

}


@media screen and (max-width:680px){
	
	/*======form feedback_body=============*/
	form.feedback_body{
		width: 100%;
	}
	
	.before_form .card .card-header{
	   display: block;
	}
	
	.before_form .card .card-header p{
	    padding: 10px 2px;
	    border-bottom: 1px solid rgba(255,255,255,0.2);
	}
	
	.before_form .card .card-header p:last-child{
	    border: none;
	} 
	
	 fieldset .fieldset_btn{
	   display: block;
	 }
	 fieldset .fieldset_btn button{
	    
	    width: 100%;
	    margin:10px 15px !important;
	    margin-right:0em !important;
	 }
	 
	 fieldset .card .card-header{
	    display: block;
	 }
	 
	 fieldset .card .card-header button{
	    padding: 2px 20px;
	    font-size: 12px;
	    width: 100%;
	 }
}



/*===========================modal css==============================*/
.modal{
	/*background-color:rgba(66,165,245) ;*/
	background-color:rgba(0,0,0,0.7);
}
.modal.alert_modal{
	display: block;
}

.modal .modal-header{
	background-color:#42a5f5;  /* #42a5f5  , #07077a */
	padding: 2px 20px !important; 
	color:#fff;
}
.modal .modal-header .modal-title{
	/*background-color:red !important;*/
}
/*.modal ..modal-header .fa-times{
	color:#fff !important;
	opacity:1 !important;
}*/

#otpModal p{
	font-weight: 600;
}
.modal form.card{
	margin: 0px !important;
	padding:20px 10px !important;
} 

.modal form .submit-forms{
	margin-top: 0.6em;
	text-align: left !important;
	/*justify-content: flex-start !important;*/
}

.modal form .submit-forms .btn{
	margin: 0px 5px ;
	color:#fff;
	padding: 2px 15px 3px 15px !important;
}

.modal form .submit-forms .btn:nth-child(1){
	background-color:#07077a;
}

.modal form .submit-forms .btn:nth-child(3){
	background-color:#42a5f5;
}

.termsCondition li{
	padding: 8px 10px;
	border-bottom: 1px solid #dee2e6;
}
.subTermsCondition{
   list-style-type: upper-roman;
}

subTermsCondition li{
    padding: 8px 10px;
    border-bottom: 1px solid #dee2e6;	
}
 
.modal .modal-footer{
	background-color:;
	padding: 2px 10px; 
} 

/*.modal-footer .submit_btn{
	background-color:#07077a;
	color:#fff;
	padding: 3px 20px;
	transition: .5s ease;
}

.modal-footer .submit_btn:hover{
	color:#fff;
	opacity: 0.8;
}*/

.modal-footer .btn{
	background-color:#07077a;
	color:#fff;
	padding: 3px 20px;
	transition: .5s ease;
}

.modal-footer .btn:hover{
	color:#fff;
	opacity: 0.8;
}

ul.note{
	width: 100%;
	list-style-type: circle;
}

ul.note li{
    font-size: 12px;
    letter-spacing:1px;
    color:#42a5f5;
}


/*=======================================================================*/



    .error{
    color:red !important;
    }
  
.tableHeight    {
	height: 50vh;
	overflow: scroll;
}
